/themes/twentynineteen-hugo
.hugo_build.lock
resources/_gen/assets/scss/scss/main.scss_3bbc89ba9c6ead9f14ec528eda038a67.content
.gitignore
resources/_gen/assets/scss/scss/main.scss_3bbc89ba9c6ead9f14ec528eda038a67.json

public
resources
# Local Netlify folder
.netlify
